<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./plugin/jquery.simplePagination.js"></script>
    <link rel="stylesheet" href="./plugin/simplePagination.css">
    <style>
        /* .inputEdit {
            display: none
        } */

        .off {
            display: none
        }
    </style>
</head>

<body>
    <div class="panigition container" id="paging"></div>
    <div class="container">
        <div class="row" id="content">
        </div>
        <div id="update"><a href="/add" class="btn btn-primary" id="edit">ADD</a></div>
    </div>
</body>
<script>

    function getCard(value) {
        $.ajax({
            url: "/api/user?page=" + value,
            method: "get"

        }).then(function (data) {
            $("#content").html('')
            for (let x = 0; x < data.length; x++) {
                var arr = data[x]
                $("#content").append(`
                    <div class="card container" style="width: 18rem;">
                    <img class="card-img-top" src="${arr.avatar}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" id="text-${arr._id}">${arr.name}</h5> 
                            <input type="text" class="off" id="inputEdit-${arr._id}" value="${arr.name}"/>
                                <p class="card-text">Demo card the html.</p>
                                <button type="button" class="btn btn-primary off" id="save-${arr._id}"   onclick = "btnSave('${arr._id}',${value})">Save</button>
                                <button type="button" class="btn btn-primary" id="edit-${arr._id}"   onclick = "btnEdit('${arr._id}')">Edit</button>
                            <button type="button" class="btn btn-danger"  onclick = "btndelete('${arr._id}', ${value} )">Delete</button>
                        </div>
                     </div>      
                 `)
            }
        })
    }

    function taoNutPhanTrang() {
        $.ajax({
            url: "/api/user/count",
            method: "get"
        }).then(function (data) {
            $('#paging').pagination({
                items: data,
                itemsOnPage: 3,
                cssStyle: 'light-theme',
                onPageClick: function (pageNum, event) {
                    getCard(pageNum)
                }
            });
        })
    }



    // edit
    function btnEdit(IDedit) {
        $("#text-" + IDedit).addClass("off");
        $("#inputEdit-" + IDedit).removeClass("off");
        $(`#save-${IDedit}`).removeClass("off");
        $(`#edit-${IDedit}`).addClass("off");

    };
    function btnSave(IDedit, idPage) {
        $("#text-" + IDedit).removeClass("off");
        $("#inputEdit-" + IDedit).addClass("off");
        $(`#save-${IDedit}`).addClass("off");
        $(`#edit-${IDedit}`).removeClass("off");

        $.ajax({
            url: `/api/user/update/${IDedit}`,
            type: "PUT",
            dataType: "json",
            data: {
                name: $("#inputEdit-" + IDedit).val()
            }
        }).then(function (data) {
            getCard(idPage)
        })
    };
    // delete 
    function btndelete(idNumber, idPage) {
        $.ajax({
            url: "/api/user/delete",
            type: "DELETE",
            data: { id: idNumber },
            dataType: "json"
        }).then(function (data) {
            getCard(idPage)
        })
    };

    getCard(1)
    taoNutPhanTrang()



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>